.video-react {
  .video-react-big-play-button {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    background-color: #121212 !important;
    border: 0px !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 0px !important;
  }
}
