@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    font-family: var("--font-space-grotesk");
    overflow-x: hidden;
    background-color: #121212;
}


// partials
@import 'partials/video';
@import 'partials/alerts';